/* Global Styles */

/* border box fix */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: ;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
    color: #00bcac;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  text-shadow: 1px 2px #6d6d6d;
}

h1 {
  font-size: 80px;

}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: #f76c3c;
  color: #062d59;
  padding: 10px;
  display: inline-block;
}

/* Header & Footer */

header, footer {
  background: #083d77;
  color: #f8ac8f;
}

header h1, header h2 {
    color: #00bcac;
    margin: 0;
}

/* Header styles only */

header {
  padding-top: 50px;
  position: relative;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-img {
  width: 300px;
  border-radius: 15%;
  float: left;
}

/* Footer styles only */

footer {
  text-align: center;
  font-size: 1em;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Navigation */

nav {
  text-align: center;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work Experience */

.work {
    background: #f8ac8f;
    color: #083d77;
}

h3 ~ p {
  margin: 0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin: 0;
}

/* Education */

/* The image in the background is by Henry Be. I got it from unsplash.com. Here is there information on Unsplash.com: https://unsplash.com/@henry_be and for Instagram: https://www.instagram.com/enrico.bet/*/
.education {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url("../images/henry-be-unsplash.jpg") no-repeat fixed;
    background-size: cover;
    color: #062d59;

}

p + h3 {
  margin-top: 30px;
}

.contact-info a {
  font-size: 35px;
}

/* Media Queries */

@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;

  }

  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}

@media (max-width: 899px) {
  header {
    text-align: center;
  }

  .profile-img {
    width: 200px;

  }
}
